<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <title>Express App Form</title>
</head>

<body class="form">
    <a href="/api/app/home/Mouhamed">Home</a>
    <a href="/api/app/form">Form</a>
    <br><br>
    <form action="/api/app/form" method="post">
        <input title="name" name="name" type="text" placeholder="Enter Name">
        <input type="submit" value="Submit">
    </form>
</body>

</html>